.info-container 
{
    width: 100%;
    background-color: white;
    height: 300px;
    color: black;
}

.info 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}